    <!-- ******ABOUT****** -->
    <section id="about" class="about section">
        <div class="container">
            <h2 class="title text-center">What is Anteater?</h2>
            <p class="intro text-center">Anteater is an open framework to prevent the unwanted merging of dangerous strings,
              filenames, binaries, depreciated functions, staging enviroment code / credentials etc.</p>
            <div class="row">
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-cogs"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Continous Integration</h3>
                        <p>anteater runs as a DevOps gate check.
                          Every patch / pull request is scanned. It easily integrates with
                          <a href="https://travis-ci.org/" target="_blank">Travis-CI</a>,
                          <a href="https://circleci.com" target="_blank">CircleCI</a> and
                          <a href="https://jenkins.io" target="_blank">Jenkins</a></p>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-copyright"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Open Source</h3>
                        <p>anteater is 100% open source under an apache 2.0 license. You're free to make changes and we encourage community contributions.</p>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-edit"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Easy to customize</h3>
                        <p>anteater is easy to customise with an open framework. There is no need to make code changes to implement your own checks and filters.</p>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="clearfix visible-md"></div>
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-bug"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Virus Total API</h3>
                        <p>anteater uses the 'crowd sourced' Virus Total API to verify any public IP addresses, url's or binaries found are safe to merge</p>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-users"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Community Vault</h3>
                        <p>Know of some expressions that are useful and want to share them? Looking for something in particular? Try the community vault (pending)</p>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-building"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Wide adoption</h3>
                        <p>anteater is used by the <a href="https://www.linuxfoundation.org" target="_blank">Linux Foundation</a>,
                        <a href="https://www.redhat.com" target="_blank">Red Hat</a>,
                        and independent security researchers.
                    </div><!--//content-->
                </div><!--//item-->
            </div><!--//row-->
        </div><!--//container-->
    </section><!--//about-->
