<!-- ******DOCS****** -->
<section id="docs" class="docs section">
    <div class="container">
        <div class="docs-inner">
        <h2 class="title text-center">Get Started</h2>
        <div class="block">
            <h3 class="sub-title text-center">Install</h3>
            <p>Anteater is best installed via pip</p>
            <div class="code-block">
                <!--//Use Prismjs - http://prismjs.com/index.html#basic-usage -->
                <pre><code class="language-bash">
$ pip install anteater
                 </code></pre>
            </div><!--//code-block-->
        </div><!--//block-->

        <div class="block">
            <h3 class="sub-title text-center">Configure</h3>
            <p>Set your filters</p>

            <div class="code-block">
                <!--//Use Prismjs - http://prismjs.com/index.html#basic-usage -->
                <pre>
                  <code class="language-yaml">
file_contents:
  clone:
    regex: git.*clone
    desc: "Clone blocked as using an non approved external source"
                  </code></pre>
            </div><!--//code-block-->
            <p>Set a whitelist RegExp</p>

            <div class="code-block">
                <!--//Use Prismjs - http://prismjs.com/index.html#basic-usage -->
                <pre>
                  <code class="language-yaml">
file_contents:
  - git clone https:\/\/github\.com\\trusted_acme\\.+
                  </code></pre>
            </div><!--//code-block-->
        </div><!--//block-->


        <div class="block">
            <h3 class="sub-title text-center">Full Documentation</h3>
            <p>For more indepth details, please refer to the latest documentation on our readthedocs site.</p>
            <p class="text-center">
                <a class="btn btn-cta-primary" href="http://anteater.readthedocs.io/en/latest/" target="_blank">Read the Docs</a>
            </p>
        </div><!--//block-->

        </div><!--//docs-inner-->
    </div><!--//container-->
</section><!--//docs->
