    <!-- ******PROMO****** -->
    <section id="promo" class="promo section offset-header">
        <div class="container text-center">
            <h2 class="title">anteater<span class="highlight"></span></h2>
            <img src="images/anteater-title.png" alt="anteater" class="center">
            <p></p>
            <p></p>
            <p class="intro">Security DevOps CI / CD Framework.</p>
            <div class="btns">
                <a class="btn btn-cta-secondary" href="https://asciinema.org/a/eZViK9M7yd0gD3asEVQIDi8DV" target="_blank">Demo</a>
                <a class="btn btn-cta-primary" href="https://github.com/anteater/" target="_blank">Github</a>
                <a class="btn btn-cta-primary" href="http://anteater.readthedocs.io/en/latest/" target="_blank">Docs</a>
                <p></p>
            </div>
        </div><!--//container-->
        <div class="social-media">
            <div class="social-media-inner container text-center">
                <ul class="list-inline">
                    <!--// Generate github buttons: https://github.com/mdo/github-buttons -->
                    <li class="github-star"><iframe src="http://ghbtns.com/github-btn.html?user=anteater&repo=anteater&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe></li>
                    <li class="github-fork"><iframe src="http://ghbtns.com/github-btn.html?user=anteater&repo=anteater&type=fork" allowtransparency="true" frameborder="0" scrolling="0" width="53" height="20"></iframe></li>
                </ul>
            </div>
        </div>
    </section><!--//promo-->
